<section class="section mt-6">
<h1 class="columns is-centered form-header-text is-size-5">
  検索結果
</h1>

  <div class="container">  
    <div class="columns is-centered">
    <div class="column is-5">
      <p class="form-header-text is-size-4 has-text-centered">宿泊施設・カテゴリー一覧</p>
      <% @hotels.each do |hotel|%>
        <%= render partial: "hotel", locals: { hotel: hotel } %>
      <% end %>
    </div>
    </div>
  </div>
</section>